@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer components{
    /* forms */
    .form-input{
        @apply rounded-md dark:bg-midnight-900 border-2 no-ring border-midnight-100 dark:border-midnight-700 disabled:opacity-50;
    }
    .label-input{
        @apply my-1 text-sm font-medium;
    }
    /* forms */
    /* buttons */
    .orange-button{
        @apply bg-orange-400 rounded-md py-2.5 text-sm my-1 text-white hover:bg-orange-500 font-semibold;
    }
    /* buttons */

    .no-ring{
        @apply focus:ring-0 focus:ring-offset-0;
    }
    .truncated-text{
        @apply whitespace-nowrap overflow-hidden text-ellipsis;
    }
    .divider{
        @apply border-t-[1px] my-2 border-midnight-200 dark:border-midnight-800;
      }
    .default-page-wrapper{
        @apply min-h-[80vh] max-w-full bg-white dark:bg-midnight-950 text-midnight-950 dark:text-midnight-50;
    }
    .scrolled-navbar-bg{
        @apply bg-midday-semitransparent dark:bg-midnight-900 lg:dark:bg-midnight-semitransparent;
    }
    .default-navbar-bg{
        @apply bg-midnight-50 dark:bg-midnight-900 lg:dark:bg-midnight-950;
    }
    .default-text{
        @apply text-midnight-950 dark:text-midnight-50;
    }
    .footer-bg{
        background-repeat: no-repeat;
        background-size: cover;
    }
    .footer-bg-dark{
        background-position: center;
        background-image: url("assets/magic-forest.jpg");
        box-shadow: inset 0 0 0 2000px rgba(24, 24, 38, 0.8);
    }
    .footer-bg-light{
        background-position: bottom;
        background-image: url("assets/clouds-peach.jpg");
        box-shadow: inset 0 0 0 2000px rgba(246, 246, 249, 0.5);
    }  
    .footer-layout-sm{
        @apply flex flex-col items-center;
    }
    .footer-layout-md{
        @apply grid grid-cols-4 gap-5 items-start;
    }
    .footer-layout-lg{
        @apply grid grid-cols-4 gap-12 items-start;
    }
    
}
*{
    font-family: 'Poppins', sans-serif;
    /* box-sizing: border-box; */
}
html{
    scroll-behavior: smooth;
}
.font-delius{
    font-family: 'Delius Swash Caps', sans-serif;
}
.shadow-book{
    box-shadow: -10px 10px 25px 5px rgba(0, 0, 0, 0.75), -10px 10px 25px -10px rgba(0, 0, 0, 0.75);
}
.bottom-gradient{
    background: rgb(0,0,0);
background: -moz-linear-gradient(0deg, rgba(0,0,0,0.8969712885154062) 0%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.8969712885154062) 0%, rgba(0,0,0,0) 100%);
background: linear-gradient(0deg, rgba(0,0,0,0.8969712885154062) 0%, rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}