@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@layer utilities{
    .pause-animation{
        animation-play-state: paused;
    }
}
@layer components{
    /* page utils */
    .no-ring{
        @apply focus:ring-0 focus:ring-offset-0;
    }
    .truncated-text{
        @apply whitespace-nowrap overflow-hidden text-ellipsis;
    }
    .divider{
        @apply border-t-[1px] my-2 border-midnight-200 dark:border-midnight-800;
      }
    .default-page-wrapper{
        @apply min-h-[80vh] max-w-full bg-gray-50 dark:bg-midnight-950 text-midnight-950 dark:text-midnight-50;
    }
    .default-page-container{
        @apply flex flex-col px-5 py-5 lg:py-10 lg:px-10;
    }
    .default-text{
        @apply text-midnight-950 dark:text-midnight-50;
    }
    .divide-border{
        @apply border-gray-200 dark:border-midnight-800;
    }
    .divide-border-top{
        @apply divide-border border-t;
    }
    .divide-border-bottom{
        @apply divide-border border-b;
    }
    /* page utils */
    /* forms */
    .sort-select{
        @apply bg-white border-2 border-gray-200 text-gray-900 text-sm rounded-lg block dark:bg-midnight-800 dark:border-midnight-700 no-ring dark:placeholder-gray-400 dark:text-white dark:focus:border-purple-500 focus:border-purple-500;
    }
    .icons-form-input-container{
        @apply flex flex-row items-center border-[2px] bg-white border-gray-200 focus-within:border-purple-400 dark:bg-midnight-900 dark:border-midnight-700 px-3 rounded-md dark:focus-within:border-purple-400;
    }
    .icons-form-input{
        @apply bg-white dark:bg-midnight-900 text-sm border-0 no-ring focus:border-0;
    }
    .form-input{
        @apply rounded-md dark:bg-midnight-900 border-2 no-ring border-midnight-100 dark:border-midnight-700 disabled:opacity-50;
    }
    .label-input{
        @apply my-1 text-sm font-medium;
    }
    .floating-form-input{
        @apply block px-2.5 pb-2.5 pt-4 w-full text-sm border-black/10 text-white bg-black/20 rounded-md appearance-none focus:outline-none focus:ring-0 focus:border-purple-500;
    }
    .floating-form-label{
        @apply absolute text-sm text-midnight-200 duration-300 transform -translate-y-2 scale-75 top-2 z-10 origin-[0] px-2 peer-focus:px-2 peer-focus:text-purple-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-2 left-1;
    }
    .purple-checkbox{
        @apply w-3 h-3 ml-1 text-purple-500 bg-gray-100 border-gray-300 rounded no-ring;
    }
    .checkbox-label{
        @apply ml-2 text-xs font-light my-2 text-white;
    }
    .login-header{
        @apply text-white text-3xl font-medium my-4 text-start;
    }
    .newsletter-input{
        @apply floating-form-input bg-white/70 dark:bg-midnight-950/70 text-black dark:text-white;
    }
    .newsletter-input-label{
        @apply floating-form-label text-gray-600 dark:text-gray-400;
    }
    /* forms */
    /* buttons */
    .text-button-link{
        @apply text-xs text-purple-400 hover:text-purple-500 font-semibold;
    }
    .orange-button{
        @apply bg-orange-400 rounded-md py-2.5 text-base lg:text-sm my-1 text-white hover:bg-orange-500 font-semibold;
    }
    .purple-button{
        @apply bg-purple-500 rounded-md py-2.5 text-base lg:text-sm my-1 text-white hover:bg-purple-600 font-semibold;
    }
    .delete-button{
        @apply bg-white dark:bg-midnight-900 border-2 border-red-500 rounded-md py-2.5 text-sm my-1 text-red-500 hover:bg-red-500 dark:hover:bg-red-500 hover:text-white font-semibold;
    }
    .rounded-purple-button{
        @apply rounded-3xl text-white font-medium px-4 py-2 text-sm bg-purple-500 hover:bg-purple-600;
    }
    .rounded-bordered-purple-button{
        @apply flex flex-row items-center rounded-3xl font-semibold text-xs text-purple-500 hover:bg-purple-500 hover:text-white border-2 border-purple-500 px-5 py-1;
    }
    /* buttons */
    /* info pages */
    .info-page-h1{
        @apply font-semibold text-3xl lg:text-4xl text-white text-center;
    }
    .info-page-h1-p{
        @apply my-2 w-full lg:w-1/2 text-center text-white;
    }
    .info-page-h2{
        @apply text-2xl;
    }
    .info-page-h2-p{
        @apply text-sm my-2 font-light text-center;
    }
    /* info pages */
    /* news pages */
    .news-page-h2{
        @apply text-lg font-semibold;
    }
    /* news pages */
    /* documents */
    .document-header{
        @apply text-3xl font-semibold;
    }
    .document-list-header{
        @apply text-xl font-medium my-4 ml-5;
    }
    .document-list-item{
        @apply text-base font-normal my-2;
    }
    /* documents */
    /* navbar */
    .scrolled-navbar-bg{
        @apply bg-midday-semitransparent dark:bg-midnight-900 lg:dark:bg-midnight-semitransparent;
    }
    .default-navbar-bg{
        @apply bg-white dark:bg-midnight-900 lg:dark:bg-midnight-950;
    }
    /* navbar */
    /* footer */
    .footer-bg{
        background-repeat: no-repeat;
        background-size: cover;
    }
    .footer-bg-dark{
        background-position: center;
        background-image: url("assets/magic-forest.jpg");
        box-shadow: inset 0 0 0 2000px rgba(24, 24, 38, 0.8);
    }
    .footer-bg-light{
        background-position: bottom;
        background-image: url("assets/clouds-peach.jpg");
        box-shadow: inset 0 0 0 2000px rgba(246, 246, 249, 0.5);
    }  
    .footer-layout-sm{
        @apply flex flex-col items-center;
    }
    .footer-layout-md{
        @apply grid grid-cols-4 gap-5 items-start;
    }
    .footer-layout-lg{
        @apply grid grid-cols-4 gap-12 items-start;
    }
    /* footer */
    /* animations */
    .tooltip-button{
        @apply absolute bottom-[-2rem] left-1/2 transform -translate-x-1/2 rounded-md items-center justify-center text-xs px-2 py-1 text-midnight-800 bg-white whitespace-nowrap dark:bg-midnight-700 dark:text-white hidden group-hover:flex;
    }
    .underline-hover{
        @apply relative before:content-[''] before:absolute before:block before:w-full before:h-[2px] before:bottom-[-1px] before:left-0 before:bg-white before:scale-x-0 before:transition-all hover:before:scale-x-100;
    }
    .underline-hover-dark{
        @apply underline-hover before:bg-midnight-950 dark:before:bg-white;
    }
    .underline-hover-purple{
        @apply underline-hover before:bg-purple-500;
    }
    /* animations */ 
}
*{
    font-family: 'Poppins', sans-serif;
    /* box-sizing: border-box; */
}
html{
    scroll-behavior: smooth;
}
ol{
    counter-reset: item;
}
ol > li {
    counter-increment: item;
    list-style: decimal;
}

ol ol > li {
    display: block;
}

ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: 20px;
}
/* ol li {
    list-style: decimal;
    list-style-position: inside;
    display: list-item;
} */
.font-delius{
    font-family: 'Delius Swash Caps', sans-serif;
}
.shadow-book{
    box-shadow: -10px 10px 25px 5px rgba(0, 0, 0, 0.75), -10px 10px 25px -10px rgba(0, 0, 0, 0.75);
}
.bottom-gradient{
    background: rgb(0,0,0);
background: -moz-linear-gradient(0deg, rgba(0,0,0,0.8969712885154062) 0%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.8969712885154062) 0%, rgba(0,0,0,0) 100%);
background: linear-gradient(0deg, rgba(0,0,0,0.8969712885154062) 0%, rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}